.galaxySelect {
    margin-left: 30px;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    padding-right: 30px;

    @media screen and (max-width: 459px) {
        margin-left: 0;
    }

    &::after {
        content: '';
        height: 9px;
        width: 9px;
        border: 1px solid var(--color-text-secondary);
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border-top: 0;
        border-left: 0;
        margin-left: 10px;
        margin-top: -1px;
        transition: transform 150ms, margin-top 150ms;
    }

    &:hover {
        
    }

    &.shown {
        &::after {
            transform: translateY(-50%) rotate(225deg);
            margin-top: 5px;
            z-index: 11;
        }

        .dropdown {
            opacity: 1;
            pointer-events: auto;
            z-index: 10;
            transition: opacity 150ms, z-index 0ms;
        }

        .current {
            z-index: 11;
            transition: z-index 0ms, background-color 150ms;
            background-color: var(--color-flat);
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: var(--color-flat);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 150ms, z-index 0ms 150ms;
        padding: 0.25rem 0;
        margin: 0;
        left: -15px;
        min-width: calc(100% + 25px);
        padding-top: 37px;
        top: -5px;
        z-index: 1;
        max-height: 400px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #fff6 transparent;
        -webkit-scrollbar-width: thin;
        -webkit-scrollbar-color: #fff6 transparent;

        a {
            white-space: nowrap;
            text-decoration: none;
            color: var(--color-text-secondary);
            transition: background-color 150ms, color 150ms;
            padding: 0.25rem 15px;
            display: flex;
            align-items: center;

            &:hover {
                background-color: #0002;
                color: var(--color-text);
            }
        }
    }

    .current {
        z-index: 1;
        position: relative;
        transition: z-index 0ms 150ms, background-color 150ms;
        background-color: transparent;
    }
}
