.galaxySelect {
    margin-left: 20px;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    padding-right: 30px;

    &::after {
        content: '';
        height: 9px;
        width: 9px;
        border: 1px solid #333;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border-top: 0;
        border-left: 0;
        margin-left: 10px;
        margin-top: -1px;
        transition: transform 150ms, margin-top 150ms;
    }

    &:hover {
        
    }

    &.shown {
        &::after {
            transform: translateY(-50%) rotate(225deg);
            margin-top: 5px;
        }

        .dropdown {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--color-glass);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        margin-top: 10px;
        border-radius: 10px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 150ms;
        padding: 0.25rem 0;

        a {
            white-space: nowrap;
            text-decoration: none;
            color: #333;
            transition: background-color 150ms;
            padding: 0.25rem 15px;
            display: flex;
            align-items: center;
            font-size: 1rem;

            &:hover {
                background-color: #0001;
            }
        }
    }
}
