.footer {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    background-color: var(--color-glass);
    backdrop-filter: var(--glass-blur);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    .version {
        flex-grow: 1;
        text-align: right;
    }
}
