.footer {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    background-color: var(--color-flat);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    color: var(--color-text-secondary);
    z-index: 1000;

    .version {
        flex-grow: 1;
        text-align: right;

        @media screen and (max-width: 359px) {
            display: none;
        }
    }

    .darkMode {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-right: 5px;

        input {
            margin-top: 5px;
        }
    }

    .footnote {
        @media screen and (max-width: 674px) {
            display: none;
        }
    }
}
